@font-face {
  font-family: 'DesktopIcons';
  src:  url('fonts/DesktopIcons.eot?ojtbsu');
  src:  url('fonts/DesktopIcons.eot?ojtbsu#iefix') format('embedded-opentype'),
    url('fonts/DesktopIcons.ttf?ojtbsu') format('truetype'),
    url('fonts/DesktopIcons.woff?ojtbsu') format('woff'),
    url('fonts/DesktopIcons.svg?ojtbsu#DesktopIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="DesktopIcons-"], [class*=" DesktopIcons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DesktopIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.DesktopIcons-steam-icon:before {
  content: "\e905";
}
.DesktopIcons-user-lock:before {
  content: "\e900";
}
.DesktopIcons-envelope:before {
  content: "\e901";
}
.DesktopIcons-telegram:before {
  content: "\e902";
}
.DesktopIcons-terminal:before {
  content: "\e903";
}
.DesktopIcons-firefox:before {
  content: "\e904";
}
